.wap-editor{
    .placeholder-widget{
        background-color: gainsboro;
        text-align: center;
        padding-bottom: 130px;
        padding-top: 130px;
        margin-top: 30px;
        .icon{
            height: 50px;
            width: 50px;
        }
    }
}