.main-header {
    text-align: center;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // .logo {
    //     width: 200px;
    // }

    // .logo-byline {
    //     font-family: GreatVibes, serif;
    //     font-weight: normal;
    // }
}