.tool-bar {
  user-select: none;
  display: flex;
  flex-direction: column;

  // min-width: 200px;
  width: 200px;
  // background: rgb(179, 175, 175);
  max-height: 100vh;
  border: 1px solid rgb(179, 177, 177);
  .tool-bar-list {
    .li-bar {
      .menu-options {
        border-bottom-style: black;
      }
      top: 10px;
      position: relative;
      cursor: pointer;
      display: flex;
      padding: 10px;
      align-items: center;
      margin-bottom: 20px;
      font-size: 16px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.96) 0%,
        rgba(238, 238, 238, 0.96) 100%
      );
      box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);
      height: 60px;
      justify-content: center;
      h3 {
        margin-left: 5px;
        text-align: center;
      }
      .text {
        display: none;
      }
    }
    .section-menu {
      margin-top: 20px;
    }

    .logo {
      height: 60px;
      width: 60px;
      margin-left: 15px;
    }
    .section-add {
      margin-top: 15px;
      width: 45%;
      display: flex;
      flex-direction: column;
      .icon {
        fill: gold;
      }
    }
    .list-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 13px;
      grid-gap: 5px;
      cursor: pointer;
    }
    .list-group-item {
      box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .list-group-container {
      display: flex;
      // padding: 3px;
      justify-content: space-around;
      border-top: 1px solid black;
      margin-top: 10px;
    }
    .add-option {
      text-align: center;
    }
    .wap-option {
      text-align: center;

      .el-form-item {
        // margin-bottom: 10px;
      }
    }

    .section-save {
      background: #6acef9;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      margin-left: 5px;

      h3 {
        margin: 0;
      }
    }
    .section-save-container {
      position: fixed;
      display: flex;
      // padding: 3px;
      justify-content: space-evenly;
      bottom: -10px;
      left: 10px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
