* {
  box-sizing: border-box;
}

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: darken($clr4, 40%);
}

body {
  margin: 0;
  background-color: #f0f4f7;
}
ul {
  margin: 0px;
  padding: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}
