@font-face {
  font-family: Montserrat;
  src: url(~@/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Italianno;
  src: url(~@/assets/fonts/Italianno.ttf);
}
@font-face {
    font-family: Playfair;
    src: url(~@/assets/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: Cabin;
    src: url(~@/assets/fonts/Cabin-Regular.ttf);
}
@font-face {
    font-family: DancingScript;
    src: url(~@/assets/fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: JosefinSans;
    src: url(~@/assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(~@/assets/fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: Pacifico;
    src: url(~@/assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: Solway;
    src: url(~@/assets/fonts/Solway-Regular.ttf);
}
@font-face {
    font-family: SulphurPoint;
    src: url(~@/assets/fonts/SulphurPoint-Regular.ttf);
}
